header {
  height: 100vh;
}
.header-bgimg {
  width: 50%;
  height: 100%;
  margin-left: 8%;
  background-size: cover;
  filter: blur(2px);

}
.header-title {
  position: absolute;
  bottom: 0;
}
.header-title p {
  font-size: 110px;
  position: relative;
  left: 70px;
}
.header-title span {
  position: absolute;
  right: 0;
}